#table-container {
    margin-top: 1em !important;
    margin-right: 25em !important;
    margin-left: 25em !important;
}

.form-container {
    margin-right: 25em !important;
    margin-left: 25em !important;
}

.title-container {
    flex: auto;
    align-items: center;
}